trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  - group: build.variables
  - name: MAVEN_CACHE_FOLDER
    value: $(Pipeline.Workspace)/.m2/repository

stages:
# ================= BUILD =================
- stage: Build
  displayName: Build Mule App
  jobs:
  - job: BuildJob
    steps:
    - task: DownloadSecureFile@1
      name: mavenSettings
      inputs:
        secureFile: settings.xml

    - script: |
        mkdir -p ~/.m2
        cp $(mavenSettings.secureFilePath) ~/.m2/settings.xml
      displayName: Install settings.xml

    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'

    - script: |
        mvn clean package \
          -DskipTests \
          -Dmule.env=dev \
          -Dsecure.key=mule \
          -s ~/.m2/settings.xml
      displayName: Maven Package

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: target
        artifact: mule-app

# ================= DEPLOY =================
- stage: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployJob
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: mule-app
        path: target

    - task: DownloadSecureFile@1
      name: mavenSettingsDeploy
      inputs:
        secureFile: settings.xml

    - script: |
        mkdir -p ~/.m2
        cp $(mavenSettingsDeploy.secureFilePath) ~/.m2/settings.xml
      displayName: Install settings.xml

    - task: JavaToolInstaller@0
      displayName: 'Setup Java 17'
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - script: |
        mvn deploy \
          -Pcloudhub2 \
          -DanypointClientId=$(anypointClientId) \
          -DanypointClientSecret=$(anypointClientSecret) \
          -Dmule.env=dev \
          -Dsecure.key=mule \
          -DskipTests \
          -s ~/.m2/settings.xml
      displayName: Deploy to CloudHub 2.0
